
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="app">

    <input type="text" v-model="msg">
    <button @click="add_note">添加留言</button>

    <br>
    <ul>
        <li v-for="(message, index) in msg_list">{{message}}<button @click="remove(index)">删除</button></li>
    </ul>
    <hr>
    <span>留言数：{{msg_list.length}}</span> &nbsp;&nbsp;&nbsp;&nbsp;<button @click="clear">清空留言</button>

</div>

<script src="js/vue.min.js"></script>
<script src="js/vue-router.3.0.1.js"></script>
<script>
    new Vue({
        el: "#app",
        data: {
            msg: "",
            msg_list: localStorage.msgs ? JSON.parse(localStorage.msgs) : [],
        },
        methods:{
            add_note(){
                let msg = this.msg;
                if(msg){
                    this.msg_list.push(this.msg);
                    // 将用户发表的数据持久化到localStorage
                    localStorage.msgs = JSON.stringify(this.msg_list);
                    this.msg = "";
                }
            },
            remove(index){
                let val = JSON.parse(localStorage.msgs);
                console.log(val.splice(index,1));
                localStorage.msgs = JSON.stringify(val);
                this.msg_list = localStorage.msgs ? JSON.parse(localStorage.msgs) : [];
            },
            clear(){
                localStorage.clear();
                this.msg_list = localStorage.msgs ? JSON.parse(localStorage.msgs) : [];

            }
        }
    })
</script>

</body>
</html>